.card{
    background-color: var(--headercolor);
    margin: 1em 0.5em;
    display: flex;
    font-family: var(--font);
    padding: 0.5em;
    border-radius: 24px;
    gap:5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card__descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}
.card-image{
    width: 50%;
    border-radius: 10px;
  
}
.card-descricao-title{
    font-size: 16px;
    font-weight: 700;
    color: var(--backgroundbanner);
}
.card-descricao-name{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.card-text{
    font-size: 14px;
    font-weight: 400;
}
.card-icons{
    display: flex;
    align-items: center;
    margin-top: 5%;
  
    
}
@media screen and (min-width: 1024px){
    .card{
        width: 50%;
        margin: 1.5em auto;
        height: 30vw;
 
    }
    .card__descricao{
        justify-content: space-around;
        
    }
}
@media screen and (min-width: 1728px){
    .card{
        width: 60%;
        height: 20vw;
        margin-bottom: 3em;
      
    }
    .card-text{
        font-size: 18px;
    }
    .card-descricao-name{
        font-size: 28px;
    }




}