.carrosel-title{
    color: var(--backgroundbanner);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font);
    padding: 1em 2em;
    background-color: var(--headercolor);
    margin-bottom: 1em;
}
.swiper-slide img{
    width: 100%;
}
.swiper-wrapper{
    margin-bottom: 1em;
   
}
.swiper-scrollbar{
    --swiper-scrollbar-bg-color: transparent;
    --swiper-scrollbar-drag-bg-color: var(--backgroundbanner);
    --swiper-scrollbar-size: 4px;
  

}

@media screen and (min-width: 1024px){
    .carrosel-title{
        font-size: 26px;
        padding-top: 1em;
    }
    .swiper{
        width: 70%;
    }

}
@media screen and (min-width: 1728px){
    .carrosel-title{
        font-size: 32px
    }
    .card-carrosel-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin: 0 10vw 3em 10vw;
       
        
    }
    .swiper{
        width: 90%;
    }
    .trending{
        width: 60%;
        margin-bottom: 3em;
    }
}