.games-title{
    color: var(--backgroundbanner);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font);
    padding: 1em 2em;
    background-color: var(--headercolor);
    margin-bottom: 1em;
}
.games_card-list{
    display: flex;
    flex-direction: column;
    

}
.games_list{
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2em 1em;
    

   
}
.game_item{
    width: 150px;
    height: 300px;
    align-items: center;
    color: var(--backgroundbanner);
    font-family: var(--font);
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;

}
.game_item:hover{
    transform: translateY(-10px);
}
.slide-img{
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 10px 10px 0 0;
}
.slide-img-trending{
    width: 100%;
}
.swiper-wrapper{
    margin-bottom: 1em;
}



.jogo-detalhes{
    color: var(--backgroundbanner);
    font-family: var(--font);
    font-size: 12px;
}
.jogo-nome{
    margin-top: 1em;
    font-size: 16px;
    font-weight: 700;
}
.jogo-preco{

    font-size: 16px;
    font-weight: 700;
}
.swiper-scrollbar{
    --swiper-scrollbar-bg-color: transparent;
    --swiper-scrollbar-drag-bg-color: var(--backgroundbanner);
    --swiper-scrollbar-size: 4px;
}



@media screen and (min-width: 1024px){
    .carrosel-title{
        font-size: 26px;
        padding-top: 1em;
    }
    .swiper{
        width: 70%;
    }

}
@media screen and (min-width: 1728px){
    .carrosel-title{
        font-size: 32px
    }

    .trending{
        width: 60%;
        margin-bottom: 3em;
    }
    .game_list{
        margin-bottom: 1em;
    }
}