.menu{
    width: 30px;
    height: 24px;
    background-image: url("/assets/Menu.png");
    display: inline-block;
    
}

header{
    background-color: var(--headercolor);
    position: relative;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 3%;
}
.container{
    display: flex;
    align-items: center;
    gap: 10px
}
.container-logo{
    display: flex;
    align-items: center;
    gap: 10px
}
.list-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--headercolor);
    margin: 0 0 0 -3%;
    width: 50vw;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-family: var(--font);
    z-index: 10;
    border-end-end-radius: 20px;
    
}

.list-item{
    width: auto;
    height: 56px;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0.5em;
   
}
.list-item-title{
    color: rgb(220, 95, 0);
    font-weight: 700;
    padding: 0.5em; 
    width: 250px;
    height: 56px;
   
   
}
.list-item-link{
    text-decoration: none;
}
.container-botao{
    display: none;
}
.logo{
    font-family: var(--font);
    font-size: 16px;
    font-weight: 500;
}
.logo-name{
    color: rgb(220, 95, 0);
    font-size: 24px;
    font-weight: 800;
    
}
.opcoes{
    display: flex;
    gap: 1em;
    align-items: center;
}
.container-link, .container-menu, .container-link-text{
    display: none;
}
@media screen and (min-width:1024px){
    .menu{
        display: none;
    }


    .icons{
        padding: 1% 5%;
    }  
    .logo{
        font-size: 24px;
        font-weight: 400;
    }
    .logo-name{
        font-size: 38px;
        font-weight: 500;
    }
    .favorite-icon{
        display: none;
    }
    .container-link{
        display: block;
        text-decoration: none;
        color: black;
        font-family: var(--font);
        font-weight: 400;
        font-size: 16px;
    }
    .container{
        gap: 40px;
    }
    .container-menu:checked~.list-menu{
        display: block;
    }
    .list-menu{
        width: 15vw;
        margin: 0;
    }
    .list-item{
        padding: 5% 30% 5% 20%;
    }
    
 
}
@media screen and (min-width:1728px){
    .container-link-img{
        display: flex;
       align-items: center;
       gap: 0.8em;
       text-decoration: none;
       font-family: var(--font);
    
    }
    .container-link{
        font-size: 20px;
        
        
    }
    .container-link-text{
        display: block;
        font-size: 20px;
        color: black;
        font-weight: 400;
    }
    .opcoes{
        margin-left: 30em;
    }
    .icons{
        padding: 2% 5% 1% 5%;
    }  

}